body{
    background-image: url(backImg1.jpg);
    background-repeat: no-repeat;
    background-position : center center;
}
p {
    color : maroon;
    direction: rtl;
}

#head{
    color: teal;
    text-decoration: line-through;
}